http:
  middlewares:
    strip-akhq:
      stripPrefix:
        prefixes:
          - /akhq
    strip-apps:
      stripPrefix:
        prefixes:
          - /apps
    strip-agents:
      stripPrefix:
        prefixes:
          - /agents
    strip-adminer:
      stripPrefix:
        prefixes:
          - /adminer

  routers:
    traefik-dashboard-router:
      rule: "PathPrefix(`/dashboard`)"
      entryPoints: [web]
      service: "api@internal"

    akhq-router:
      rule: "PathPrefix(`/akhq`)"
      entryPoints: [web]
      service: akhq-service

    grafana-router:
      rule: "PathPrefix(`/grafana`)"
      entryPoints: [web]
      service: grafana-service

    apps-router:
      rule: "PathPrefix(`/apps`)"
      entryPoints: [web]
      service: apps-service
      middlewares: [strip-apps]

    agents-router:
      rule: "PathPrefix(`/agents`)"
      entryPoints: [web]
      service: agents-service
      middlewares: [strip-agents]

    adminer-router:
      rule: "PathPrefix(`/adminer`)"
      entryPoints: [web]
      service: adminer-service
      middlewares: [strip-adminer]

  services:
    akhq-service:
      loadBalancer:
        servers:
          - url: http://akhq:8080

    grafana-service:
      loadBalancer:
        servers:
          - url: http://grafana:3000

    apps-service:
      loadBalancer:
        servers:
          - url: http://apps:8000

    agents-service:
      loadBalancer:
        servers:
          - url: http://agents:8000

    adminer-service:
      loadBalancer:
        servers:
          - url: http://adminer:8080
